In [1]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)

In [2]:
import requests

In [3]:
url = "https://www.worldometers.info/coronavirus/?fbclid=IwAR1iQSLlMLmzQoI1I4pz2OC1XvirtfrCuK2VcG-m8nD5GIhv9K3wvHMd35o"
r = requests.get(url)
r.status_code

200

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.content,'html.parser')

In [5]:
headers =['#','Country','Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','Region','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']
print(len(headers))

19

In [6]:
import pandas as pd
import numpy as np

r = requests.get('https://www.worldometers.info/coronavirus/#countries')

soup = BeautifulSoup(r.text, "html.parser")

covid_dic = []

table_body=soup.find('tbody')
rows = table_body.find_all('tr')
ind = 0
for row in rows:
	if ind < 8:
		ind += 1
		continue
	cols=row.find_all('td')
	cols=[x.text.strip() for x in cols]
	covid_dic.append(cols)

In [7]:
df_covid = pd.DataFrame(covid_dic,columns=headers)
# df_covid.rename(columns=headers,inplace=True)

In [8]:
df_covid.tail(300)

       #            Country  ... 1 Death every X ppl 1 Test every X ppl
0      1                USA  ...               1,363                  2
1      2              India  ...              10,934                 12
2      3             Brazil  ...               1,313                 10
3      4             France  ...               1,615                  4
4      5             Russia  ...               4,780                  2
..   ...                ...  ...                 ...                ...
213  214         MS Zaandam  ...
214  215           Anguilla  ...                                      8
215  216   Marshall Islands  ...
216  217  Wallis and Futuna  ...                                     10
217  218              China  ...             310,601                  9

[218 rows x 19 columns]

In [9]:
df_covid.set_index("#",inplace=True)

In [10]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 218 entries, 1 to 218
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              218 non-null    object
 1   Total Cases          218 non-null    object
 2   New Cases            218 non-null    object
 3   Total Deaths         218 non-null    object
 4   New Deaths           218 non-null    object
 5   Total Recovered      218 non-null    object
 6   New Recovered        218 non-null    object
 7   Active Cases         218 non-null    object
 8   Serious,Critical     218 non-null    object
 9   Tot cases/1M pop     218 non-null    object
 10  Deaths/1M pop        218 non-null    object
 11  Total Tests          218 non-null    object
 12  Test/1M pop          218 non-null    object
 13  Population           218 non-null    object
 14  Region               218 non-null    object
 15  1 Case every X ppl   218 non-null    object
 16  1 Death every X ppl  218 non-null    object
 17  1 Test every X ppl   218 non-null    object
dtypes: object(18)
memory usage: 32.4+ KB

In [11]:
df_covid.describe()

       Country Total Cases  ... 1 Death every X ppl 1 Test every X ppl
count      218         218  ...                 218                218
unique     218         214  ...                 191                 81
top      Kenya          13  ...
freq         1           3  ...                  27                 20

[4 rows x 18 columns]

In [12]:
for i in ['Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']:
  df_covid[i]= df_covid[i].map(lambda x : x.replace(',',''))

df_covid

               Country Total Cases  ... 1 Death every X ppl 1 Test every X ppl
#                                   ...
1                  USA    10219561  ...                1363                  2
2                India     8553621  ...               10934                 12
3               Brazil     5653648  ...                1313                 10
4               France     1787324  ...                1615                  4
5               Russia     1774334  ...                4780                  2
..                 ...         ...  ...                 ...                ...
214         MS Zaandam           9  ...
215           Anguilla           3  ...                                      8
216   Marshall Islands           1  ...
217  Wallis and Futuna           1  ...                                     10
218              China       86212  ...              310601                  9

[218 rows x 18 columns]

In [13]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 218 entries, 1 to 218
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              218 non-null    object
 1   Total Cases          218 non-null    object
 2   New Cases            218 non-null    object
 3   Total Deaths         218 non-null    object
 4   New Deaths           218 non-null    object
 5   Total Recovered      218 non-null    object
 6   New Recovered        218 non-null    object
 7   Active Cases         218 non-null    object
 8   Serious,Critical     218 non-null    object
 9   Tot cases/1M pop     218 non-null    object
 10  Deaths/1M pop        218 non-null    object
 11  Total Tests          218 non-null    object
 12  Test/1M pop          218 non-null    object
 13  Population           218 non-null    object
 14  Region               218 non-null    object
 15  1 Case every X ppl   218 non-null    object
 16  1 Death every X ppl  218 non-null    object
 17  1 Test every X ppl   218 non-null    object
dtypes: object(18)
memory usage: 32.4+ KB

In [14]:
from google.colab import drive
drive.mount('drive')
df_covid.to_csv("covid19.csv")
!cp covid19.csv "drive/My Drive/"

Mounted at drive

In [15]:
df_covid_new = pd.read_csv('drive/My Drive/covid19.csv')
df_covid_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    218 non-null    int64
 1   Country              218 non-null    object
 2   Total Cases          218 non-null    int64
 3   New Cases            108 non-null    float64
 4   Total Deaths         193 non-null    float64
 5   New Deaths           80 non-null     float64
 6   Total Recovered      212 non-null    float64
 7   New Recovered        90 non-null     float64
 8   Active Cases         214 non-null    float64
 9   Serious,Critical     137 non-null    float64
 10  Tot cases/1M pop     216 non-null    float64
 11  Deaths/1M pop        191 non-null    float64
 12  Total Tests          198 non-null    float64
 13  Test/1M pop          198 non-null    float64
 14  Population           216 non-null    float64
 15  Region               216 non-null    object
 16  1 Case every X ppl   216 non-null    float64
 17  1 Death every X ppl  191 non-null    float64
 18  1 Test every X ppl   198 non-null    float64
dtypes: float64(15), int64(2), object(2)
memory usage: 32.5+ KB

In [17]:
df_covid_new["Population"]

0      3.316904e+08
1      1.384790e+09
2      2.130940e+08
3      6.532490e+07
4      1.459568e+08
           ...
213             NaN
214    1.505000e+04
215    5.933100e+04
216    1.116700e+04
217    1.439324e+09
Name: Population, Length: 218, dtype: float64

In [20]:
df_covid_new.describe()

                #   Total Cases  ...  1 Death every X ppl  1 Test every X ppl
count  218.000000  2.180000e+02  ...         1.910000e+02          198.000000
mean   109.500000  2.321666e+05  ...         1.757598e+05           88.207071
std     63.075352  1.002038e+06  ...         9.498229e+05          456.399507
min      1.000000  1.000000e+00  ...         8.080000e+02            0.000000
25%     55.250000  1.292000e+03  ...         4.275500e+03            4.000000
50%    109.500000  1.176800e+04  ...         1.327100e+04           10.000000
75%    163.750000  9.994950e+04  ...         6.133600e+04           36.750000
max    218.000000  1.021956e+07  ...         1.201259e+07         6024.000000

[8 rows x 17 columns]

In [59]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.figure(figsize=(90,40))
sns.set_theme(style="whitegrid")
print('------------------------------------------------------------------------------> The mean of the new cases is : {0}'.format(df_covid_new["New Cases"].mean()))
df = df_covid_new[df_covid_new['New Cases']>df_covid_new['New Cases'].mean()].count()
# sns.barplot(y='Country',x='New Cases',data=df)

------------------------------------------------------------------------------> The mean of the new cases is 3377.527777777778