In [143]:
import requests

In [144]:
url = "https://www.worldometers.info/coronavirus/?fbclid=IwAR1iQSLlMLmzQoI1I4pz2OC1XvirtfrCuK2VcG-m8nD5GIhv9K3wvHMd35o"
r = requests.get(url)
r.status_code

200

In [145]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.content,'html.parser')

In [146]:
headers =['#','Country','Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','Region','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']
print(len(headers))

19

In [147]:
import pandas as pd
import numpy as np

r = requests.get('https://www.worldometers.info/coronavirus/#countries')

soup = BeautifulSoup(r.text, "html.parser")

covid_dic = []

table_body=soup.find('tbody')
rows = table_body.find_all('tr')
ind = 0
for row in rows:
	if ind < 8:
		ind += 1
		continue
	cols=row.find_all('td')
	cols=[x.text.strip() for x in cols]
	covid_dic.append(cols)

In [148]:
df_covid = pd.DataFrame(covid_dic,columns=headers)
# df_covid.rename(columns=headers,inplace=True)

In [149]:
df_covid.tail()

,#,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical",Tot cases/1M pop,Deaths/1M pop,Total Tests,Test/1M pop,Population,Region,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl
214,215,Anguilla,3,,,,3,,0,,199,,"1,820","120,906","15,053",North America,"5,018",,8
215,216,Marshall Islands,1,,,,1,,0,,17,,,,"59,339",Australia/Oceania,"59,339",,
216,217,Vanuatu,1,,,,,,1,,3,,,,"309,772",Australia/Oceania,"309,772",,
217,218,Wallis and Futuna,1,,,,1,,0,,90,,"1,149","102,920","11,164",Australia/Oceania,"11,164",,10
218,219,China,"86,338",+13,"4,634",,"81,319",+16,385,3,60,3,"160,000,000","111,163","1,439,323,776",Asia,"16,671","310,601",9

In [150]:
# df_covid.set_index("#",inplace=True)

In [151]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 19 columns):
#                      219 non-null object
Country                219 non-null object
Total Cases            219 non-null object
New Cases              219 non-null object
Total Deaths           219 non-null object
New Deaths             219 non-null object
Total Recovered        219 non-null object
New Recovered          219 non-null object
Active Cases           219 non-null object
Serious,Critical       219 non-null object
Tot cases/1M pop       219 non-null object
Deaths/1M pop          219 non-null object
Total Tests            219 non-null object
Test/1M pop            219 non-null object
Population             219 non-null object
Region                 219 non-null object
1 Case every X ppl     219 non-null object
1 Death every X ppl    219 non-null object
1 Test every X ppl     219 non-null object
dtypes: object(19)
memory usage: 32.6+ KB

In [152]:
df_covid.describe()

,#,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical",Tot cases/1M pop,Deaths/1M pop,Total Tests,Test/1M pop,Population,Region,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl
count,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219
unique,219,219,213,21,169,12,211,20,195,95,211,141,200,200,218,7,182,194,73
top,179,Dominica,1,,,,N/A,,0,,,,,,,Africa,157,,
freq,1,1,3,198,24,207,4,197,9,84,2,26,20,20,2,57,3,26,20

In [153]:
for i in ['Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']:
  df_covid[i]= df_covid[i].map(lambda x : x.replace(',',''))

In [154]:
df_covid = df_covid[['#','Country', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Active Cases',
       'Serious,Critical', 'Tot cases/1M pop', 'Deaths/1M pop', 'Total Tests',
       'Test/1M pop', 'Population', 'Region', '1 Case every X ppl',
       '1 Death every X ppl', '1 Test every X ppl']]

In [156]:
"""from google.colab import drive
drive.mount('drive')
df_covid.to_csv("covid19.csv")
!cp covid19.csv "drive/My Drive/"""
df_covid.head()

,#,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,"Serious,Critical",Tot cases/1M pop,Deaths/1M pop,Total Tests,Test/1M pop,Population,Region,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl
0,1,USA,11226218,251256,6891031,4083931,20415,33842,757,166751484,502676,331727464,North America,30,1320,2
1,2,India,8814902,129674,8205728,479500,8944,6364,94,124836819,90132,1385049027,Asia,157,10681,11
2,3,Brazil,5848959,165673,5291511,391775,8318,27444,777,21900000,102758,213122892,South America,36,1286,10
3,4,France,1954599,44246,139140,1771213,4871,29920,677,18792403,287664,65327655,Europe,33,1476,3
4,5,Russia,1903253,32834,1425529,444890,2300,13040,225,67949154,465539,145957963,Europe,77,4445,2

In [157]:
import os
os.remove("C:/Users/hp/Desktop/COVID-19/Covid-19.csv")

In [158]:
df_covid.to_csv('Covid-19.csv')

In [159]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 16 columns):
#                      219 non-null object
Country                219 non-null object
Total Cases            219 non-null object
Total Deaths           219 non-null object
Total Recovered        219 non-null object
Active Cases           219 non-null object
Serious,Critical       219 non-null object
Tot cases/1M pop       219 non-null object
Deaths/1M pop          219 non-null object
Total Tests            219 non-null object
Test/1M pop            219 non-null object
Population             219 non-null object
Region                 219 non-null object
1 Case every X ppl     219 non-null object
1 Death every X ppl    219 non-null object
1 Test every X ppl     219 non-null object
dtypes: object(16)
memory usage: 27.5+ KB

**INSERT DATAFRAME TO MySQL**

In [160]:
from pandas.io import sql
import pymysql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="1572",
                               db="coviddatabase"))
df_covid.to_sql(con=engine, name='data_covid', if_exists='replace')