In [49]:
import requests

In [50]:
url = "https://www.worldometers.info/coronavirus/?fbclid=IwAR1iQSLlMLmzQoI1I4pz2OC1XvirtfrCuK2VcG-m8nD5GIhv9K3wvHMd35o"
r = requests.get(url)
r.status_code

200

In [51]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.content,'html.parser')

In [52]:
headers =['#','Country','Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','Region','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']
print(len(headers))

19

In [53]:
import pandas as pd
import numpy as np

r = requests.get('https://www.worldometers.info/coronavirus/#countries')

soup = BeautifulSoup(r.text, "html.parser")

covid_dic = []

table_body=soup.find('tbody')
rows = table_body.find_all('tr')
ind = 0
for row in rows:
	if ind < 8:
		ind += 1
		continue
	cols=row.find_all('td')
	cols=[x.text.strip() for x in cols]
	covid_dic.append(cols)

In [54]:
df_covid = pd.DataFrame(covid_dic,columns=headers)
# df_covid.rename(columns=headers,inplace=True)

In [55]:
df_covid.tail(300)

,#,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical",Tot cases/1M pop,Deaths/1M pop,Total Tests,Test/1M pop,Population,Region,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl
0,1,USA,"11,226,218",,"251,256",,"6,891,031",,"4,083,931","20,415","33,842",757,"166,751,484","502,676","331,727,464",North America,30,"1,320",2
1,2,India,"8,814,902",,"129,674",,"8,205,728","+1,991","479,500","8,944","6,364",94,"124,836,819","90,132","1,385,049,027",Asia,157,"10,681",11
2,3,Brazil,"5,848,959",,"165,673",,"5,291,511",,"391,775","8,318","27,444",777,"21,900,000","102,758","213,122,892",South America,36,"1,286",10
3,4,France,"1,954,599",,"44,246",,"139,140",,"1,771,213","4,871","29,920",677,"18,792,403","287,664","65,327,655",Europe,33,"1,476",3
4,5,Russia,"1,903,253",,"32,834",,"1,425,529",,"444,890","2,300","13,040",225,"67,949,154","465,539","145,957,963",Europe,77,"4,445",2
5,6,Spain,"1,492,608",,"40,769",,N/A,N/A,N/A,"3,125","31,920",872,"19,394,289","414,748","46,761,579",Europe,31,"1,147",2
6,7,UK,"1,344,356",,"51,766",,N/A,N/A,N/A,"1,355","19,764",761,"37,918,526","557,467","68,019,263",Europe,51,"1,314",2
7,8,Argentina,"1,304,846",,"35,307",,"1,119,366",,"150,173","4,346","28,773",779,"3,434,801","75,740","45,350,087",South America,35,"1,284",13
8,9,Colombia,"1,191,004",,"33,829",,"1,097,576",,"59,599","2,376","23,314",662,"5,708,597","111,748","51,084,356",South America,43,"1,510",9
9,10,Italy,"1,144,552",,"44,683",,"411,434",,"688,435","3,306","18,941",739,"18,683,111","309,178","60,428,372",Europe,53,"1,352",3
10,11,Mexico,"1,003,253","+5,860","98,259",+635,"745,361","+4,021","159,633","2,941","7,751",759,"2,604,659","20,123","129,436,043",North America,129,"1,317",50
11,12,Peru,"934,899",,"35,177",,"861,017",,"38,705",991,"28,209","1,061","4,784,978","144,379","33,141,844",South America,35,942,7
12,13,Germany,"788,899",,"12,619",,"493,200",,"283,080","3,299","9,405",150,"25,010,416","298,154","83,884,266",Europe,106,"6,647",3
13,14,Iran,"749,525",,"41,034",,"552,747",,"155,744","5,642","8,882",486,"5,464,191","64,748","84,391,349",Asia,113,"2,057",15
14,15,South Africa,"749,182",,"20,206",,"693,261",,"35,715",546,"12,573",339,"5,110,384","85,765","59,585,858",Africa,80,"2,949",12
15,16,Poland,"691,118",,"10,045",,"282,215",,"398,858","2,126","18,269",266,"5,563,521","147,062","37,831,020",Europe,55,"3,766",7
16,17,Belgium,"531,280","+6,268","14,303",+197,"32,706",+673,"484,271","1,423","45,767","1,232","5,458,422","470,210","11,608,488",Europe,22,812,2
17,18,Chile,"529,676",,"14,777",,"505,243",,"9,656",731,"27,620",771,"4,781,863","249,350","19,177,297",South America,36,"1,298",4
18,19,Ukraine,"525,176",,"9,508",,"238,811",,"276,857",177,"12,036",218,"3,876,966","88,851","43,634,448",Europe,83,"4,589",11
19,20,Iraq,"516,915",,"11,623",,"444,226",,"61,066",385,"12,747",287,"3,111,672","76,731","40,553,232",Asia,78,"3,489",13
20,21,Indonesia,"463,007",,"15,148",,"388,094",,"59,765",,"1,686",55,"5,022,627","18,291","274,598,140",Asia,593,"18,128",55
21,22,Czechia,"458,229",,"6,058",,"322,383",,"129,788","1,110","42,759",565,"2,759,814","257,531","10,716,431",Europe,23,"1,769",4
22,23,Netherlands,"442,458",,"8,443",,N/A,N/A,N/A,615,"25,801",492,"3,711,716","216,438","17,149,084",Europe,39,"2,031",5
23,24,Bangladesh,"430,496",,"6,173",,"347,849",,"76,474",,"2,604",37,"2,527,134","15,288","165,299,352",Asia,384,"26,778",65
24,25,Turkey,"411,055",,"11,418",,"351,102",,"48,535","3,423","4,854",135,"16,013,974","189,120","84,676,151",Asia,206,"7,416",5
25,26,Philippines,"406,337",,"7,791",,"363,068",,"35,478","1,455","3,690",71,"5,236,110","47,549","110,121,256",Asia,271,"14,134",21
26,27,Pakistan,"356,904","+2,443","7,141",+32,"323,225",+811,"26,538","1,377","1,604",32,"4,921,050","22,120","222,469,681",Asia,623,"31,154",45
27,28,Romania,"353,185",,"8,813",,"239,051",,"105,321","1,172","18,405",459,"3,667,896","191,144","19,189,152",Europe,54,"2,177",5
28,29,Saudi Arabia,"352,950",,"5,641",,"339,947",,"7,362",807,"10,080",161,"8,840,023","252,470","35,014,154",Asia,99,"6,207",4
29,30,Israel,"323,460",+121,"2,721",,"312,823",+198,"7,916",295,"35,168",296,"5,009,332","544,635","9,197,590",Asia,28,"3,380",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,190,Bermuda,222,,9,,189,,24,,"3,570",145,"95,919","1,542,329","62,191",North America,280,"6,910",1
190,191,Saint Lucia,160,,2,,46,,112,,870,11,"13,465","73,203","183,941",North America,"1,150","91,971",14
191,192,Seychelles,160,,,,157,,3,,"1,623",,"5,200","52,752","98,574",Africa,616,,19
192,193,Caribbean Netherlands,155,,3,,151,,1,,"5,890",114,"3,377","128,335","26,314",North America,170,"8,771",8
193,194,Brunei,148,,3,,145,,0,,337,7,"72,550","165,248","439,037",Asia,"2,966","146,346",6
194,195,Antigua and Barbuda,134,,4,,127,,3,,"1,364",41,"4,137","42,115","98,231",North America,733,"24,558",24
195,196,St. Barth,109,,,,83,,26,,"11,023",,"4,445","449,535","9,888",North America,91,,2
196,197,St. Vincent Grenadines,78,,,,77,,1,,702,,"8,198","73,808","111,072",North America,"1,424",,14
197,198,British Virgin Islands,71,,1,,70,,0,,"2,343",33,"5,193","171,352","30,306",North America,427,"30,306",6
198,199,Dominica,68,,,,41,,27,,944,,"5,160","71,614","72,053",North America,"1,060",,14
199,200,Macao,46,,,,46,,0,,70,,"4,238","6,494","652,612",Asia,"14,187",,154
200,201,Fiji,35,,2,,32,,1,,39,2,"14,152","15,744","898,867",Australia/Oceania,"25,682","449,434",64
201,202,Grenada,32,,,,27,,5,,284,,"6,252","55,466","112,718",North America,"3,522",,18
202,203,New Caledonia,30,,,,28,,2,,105,,"16,397","57,228","286,519",Australia/Oceania,"9,551",,17
203,204,Timor-Leste,30,,,,30,,0,,23,,"12,487","9,405","1,327,684",Asia,"44,256",,106
204,205,Vatican City,27,,,,15,,12,,"33,666",,,,802,Europe,30,,
205,206,Laos,24,,,,23,,1,,3,,"71,020","9,709","7,314,608",Asia,"304,775",,103
206,207,Saint Kitts and Nevis,19,,,,19,,0,,356,,"3,369","63,162","53,339",North America,"2,807",,16
207,208,Greenland,18,,,,17,,1,,317,,"12,026","211,699","56,807",North America,"3,156",,5
208,209,Saint Pierre Miquelon,16,,,,12,,4,,"2,767",,"2,624","453,744","5,783",North America,361,,2
209,210,Solomon Islands,16,,,,5,,11,,23,,115,166,"693,041",Australia/Oceania,"43,315",,"6,026"
210,211,Falkland Islands,15,,,,13,,2,,"4,265",,"3,417","971,567","3,517",South America,234,,1
211,212,Montserrat,13,,1,,12,,0,,"2,604",200,577,"115,562","4,993",North America,384,"4,993",9
212,213,Western Sahara,10,,1,,8,,1,,17,2,,,"602,707",Africa,"60,271","602,707",
213,214,MS Zaandam,9,,2,,,,7,,,,,,,,,,
214,215,Anguilla,3,,,,3,,0,,199,,"1,820","120,906","15,053",North America,"5,018",,8
215,216,Marshall Islands,1,,,,1,,0,,17,,,,"59,339",Australia/Oceania,"59,339",,
216,217,Vanuatu,1,,,,,,1,,3,,,,"309,772",Australia/Oceania,"309,772",,
217,218,Wallis and Futuna,1,,,,1,,0,,90,,"1,149","102,920","11,164",Australia/Oceania,"11,164",,10
218,219,China,"86,338",+13,"4,634",,"81,319",+16,385,3,60,3,"160,000,000","111,163","1,439,323,776",Asia,"16,671","310,601",9

In [56]:
df_covid.set_index("#",inplace=True)

In [57]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219 entries, 1 to 219
Data columns (total 18 columns):
Country                219 non-null object
Total Cases            219 non-null object
New Cases              219 non-null object
Total Deaths           219 non-null object
New Deaths             219 non-null object
Total Recovered        219 non-null object
New Recovered          219 non-null object
Active Cases           219 non-null object
Serious,Critical       219 non-null object
Tot cases/1M pop       219 non-null object
Deaths/1M pop          219 non-null object
Total Tests            219 non-null object
Test/1M pop            219 non-null object
Population             219 non-null object
Region                 219 non-null object
1 Case every X ppl     219 non-null object
1 Death every X ppl    219 non-null object
1 Test every X ppl     219 non-null object
dtypes: object(18)
memory usage: 32.5+ KB

In [58]:
df_covid.describe()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical",Tot cases/1M pop,Deaths/1M pop,Total Tests,Test/1M pop,Population,Region,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl
count,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219
unique,219,212,17,169,9,211,16,194,95,211,142,200,200,218,7,183,194,73
top,Dominica,1,,,,N/A,,0,,,,,,,Africa,157,,
freq,1,3,202,24,210,4,201,9,84,2,26,20,20,2,57,3,26,20

In [59]:
for i in ['Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']:
  df_covid[i]= df_covid[i].map(lambda x : x.replace(',',''))

df_covid

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical",Tot cases/1M pop,Deaths/1M pop,Total Tests,Test/1M pop,Population,Region,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl
#,,,,,,,,,,,,,,,,,,
1,USA,11226218,,251256,,6891031,,4083931,20415,33842,757,166751484,502676,331727464,North America,30,1320,2
2,India,8814902,,129674,,8205728,+1991,479500,8944,6364,94,124836819,90132,1385049027,Asia,157,10681,11
3,Brazil,5848959,,165673,,5291511,,391775,8318,27444,777,21900000,102758,213122892,South America,36,1286,10
4,France,1954599,,44246,,139140,,1771213,4871,29920,677,18792403,287664,65327655,Europe,33,1476,3
5,Russia,1903253,,32834,,1425529,,444890,2300,13040,225,67949154,465539,145957963,Europe,77,4445,2
6,Spain,1492608,,40769,,N/A,N/A,N/A,3125,31920,872,19394289,414748,46761579,Europe,31,1147,2
7,UK,1344356,,51766,,N/A,N/A,N/A,1355,19764,761,37918526,557467,68019263,Europe,51,1314,2
8,Argentina,1304846,,35307,,1119366,,150173,4346,28773,779,3434801,75740,45350087,South America,35,1284,13
9,Colombia,1191004,,33829,,1097576,,59599,2376,23314,662,5708597,111748,51084356,South America,43,1510,9
10,Italy,1144552,,44683,,411434,,688435,3306,18941,739,18683111,309178,60428372,Europe,53,1352,3
11,Mexico,1003253,+5860,98259,+635,745361,+4021,159633,2941,7751,759,2604659,20123,129436043,North America,129,1317,50
12,Peru,934899,,35177,,861017,,38705,991,28209,1061,4784978,144379,33141844,South America,35,942,7
13,Germany,788899,,12619,,493200,,283080,3299,9405,150,25010416,298154,83884266,Europe,106,6647,3
14,Iran,749525,,41034,,552747,,155744,5642,8882,486,5464191,64748,84391349,Asia,113,2057,15
15,South Africa,749182,,20206,,693261,,35715,546,12573,339,5110384,85765,59585858,Africa,80,2949,12
16,Poland,691118,,10045,,282215,,398858,2126,18269,266,5563521,147062,37831020,Europe,55,3766,7
17,Belgium,531280,+6268,14303,+197,32706,+673,484271,1423,45767,1232,5458422,470210,11608488,Europe,22,812,2
18,Chile,529676,,14777,,505243,,9656,731,27620,771,4781863,249350,19177297,South America,36,1298,4
19,Ukraine,525176,,9508,,238811,,276857,177,12036,218,3876966,88851,43634448,Europe,83,4589,11
20,Iraq,516915,,11623,,444226,,61066,385,12747,287,3111672,76731,40553232,Asia,78,3489,13
21,Indonesia,463007,,15148,,388094,,59765,,1686,55,5022627,18291,274598140,Asia,593,18128,55
22,Czechia,458229,,6058,,322383,,129788,1110,42759,565,2759814,257531,10716431,Europe,23,1769,4
23,Netherlands,442458,,8443,,N/A,N/A,N/A,615,25801,492,3711716,216438,17149084,Europe,39,2031,5
24,Bangladesh,430496,,6173,,347849,,76474,,2604,37,2527134,15288,165299352,Asia,384,26778,65
25,Turkey,411055,,11418,,351102,,48535,3423,4854,135,16013974,189120,84676151,Asia,206,7416,5
26,Philippines,406337,,7791,,363068,,35478,1455,3690,71,5236110,47549,110121256,Asia,271,14134,21
27,Pakistan,356904,+2443,7141,+32,323225,+811,26538,1377,1604,32,4921050,22120,222469681,Asia,623,31154,45
28,Romania,353185,,8813,,239051,,105321,1172,18405,459,3667896,191144,19189152,Europe,54,2177,5
29,Saudi Arabia,352950,,5641,,339947,,7362,807,10080,161,8840023,252470,35014154,Asia,99,6207,4
30,Israel,323460,+121,2721,,312823,+198,7916,295,35168,296,5009332,544635,9197590,Asia,28,3380,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Bermuda,222,,9,,189,,24,,3570,145,95919,1542329,62191,North America,280,6910,1
191,Saint Lucia,160,,2,,46,,112,,870,11,13465,73203,183941,North America,1150,91971,14
192,Seychelles,160,,,,157,,3,,1623,,5200,52752,98574,Africa,616,,19
193,Caribbean Netherlands,155,,3,,151,,1,,5890,114,3377,128335,26314,North America,170,8771,8
194,Brunei,148,,3,,145,,0,,337,7,72550,165248,439037,Asia,2966,146346,6
195,Antigua and Barbuda,134,,4,,127,,3,,1364,41,4137,42115,98231,North America,733,24558,24
196,St. Barth,109,,,,83,,26,,11023,,4445,449535,9888,North America,91,,2
197,St. Vincent Grenadines,78,,,,77,,1,,702,,8198,73808,111072,North America,1424,,14
198,British Virgin Islands,71,,1,,70,,0,,2343,33,5193,171352,30306,North America,427,30306,6
199,Dominica,68,,,,41,,27,,944,,5160,71614,72053,North America,1060,,14
200,Macao,46,,,,46,,0,,70,,4238,6494,652612,Asia,14187,,154
201,Fiji,35,,2,,32,,1,,39,2,14152,15744,898867,Australia/Oceania,25682,449434,64
202,Grenada,32,,,,27,,5,,284,,6252,55466,112718,North America,3522,,18
203,New Caledonia,30,,,,28,,2,,105,,16397,57228,286519,Australia/Oceania,9551,,17
204,Timor-Leste,30,,,,30,,0,,23,,12487,9405,1327684,Asia,44256,,106
205,Vatican City,27,,,,15,,12,,33666,,,,802,Europe,30,,
206,Laos,24,,,,23,,1,,3,,71020,9709,7314608,Asia,304775,,103
207,Saint Kitts and Nevis,19,,,,19,,0,,356,,3369,63162,53339,North America,2807,,16
208,Greenland,18,,,,17,,1,,317,,12026,211699,56807,North America,3156,,5
209,Saint Pierre Miquelon,16,,,,12,,4,,2767,,2624,453744,5783,North America,361,,2
210,Solomon Islands,16,,,,5,,11,,23,,115,166,693041,Australia/Oceania,43315,,6026
211,Falkland Islands,15,,,,13,,2,,4265,,3417,971567,3517,South America,234,,1
212,Montserrat,13,,1,,12,,0,,2604,200,577,115562,4993,North America,384,4993,9
213,Western Sahara,10,,1,,8,,1,,17,2,,,602707,Africa,60271,602707,
214,MS Zaandam,9,,2,,,,7,,,,,,,,,,
215,Anguilla,3,,,,3,,0,,199,,1820,120906,15053,North America,5018,,8
216,Marshall Islands,1,,,,1,,0,,17,,,,59339,Australia/Oceania,59339,,
217,Vanuatu,1,,,,,,1,,3,,,,309772,Australia/Oceania,309772,,
218,Wallis and Futuna,1,,,,1,,0,,90,,1149,102920,11164,Australia/Oceania,11164,,10
219,China,86338,+13,4634,,81319,+16,385,3,60,3,160000000,111163,1439323776,Asia,16671,310601,9

In [60]:
df_covid = df_covid[['Country', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Active Cases',
       'Serious,Critical', 'Tot cases/1M pop', 'Deaths/1M pop', 'Total Tests',
       'Test/1M pop', 'Population', 'Region', '1 Case every X ppl',
       '1 Death every X ppl', '1 Test every X ppl']]

In [61]:
"""from google.colab import drive
drive.mount('drive')
df_covid.to_csv("covid19.csv")
!cp covid19.csv "drive/My Drive/"""
df_covid

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,"Serious,Critical",Tot cases/1M pop,Deaths/1M pop,Total Tests,Test/1M pop,Population,Region,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl
#,,,,,,,,,,,,,,,
1,USA,11226218,251256,6891031,4083931,20415,33842,757,166751484,502676,331727464,North America,30,1320,2
2,India,8814902,129674,8205728,479500,8944,6364,94,124836819,90132,1385049027,Asia,157,10681,11
3,Brazil,5848959,165673,5291511,391775,8318,27444,777,21900000,102758,213122892,South America,36,1286,10
4,France,1954599,44246,139140,1771213,4871,29920,677,18792403,287664,65327655,Europe,33,1476,3
5,Russia,1903253,32834,1425529,444890,2300,13040,225,67949154,465539,145957963,Europe,77,4445,2
6,Spain,1492608,40769,N/A,N/A,3125,31920,872,19394289,414748,46761579,Europe,31,1147,2
7,UK,1344356,51766,N/A,N/A,1355,19764,761,37918526,557467,68019263,Europe,51,1314,2
8,Argentina,1304846,35307,1119366,150173,4346,28773,779,3434801,75740,45350087,South America,35,1284,13
9,Colombia,1191004,33829,1097576,59599,2376,23314,662,5708597,111748,51084356,South America,43,1510,9
10,Italy,1144552,44683,411434,688435,3306,18941,739,18683111,309178,60428372,Europe,53,1352,3
11,Mexico,1003253,98259,745361,159633,2941,7751,759,2604659,20123,129436043,North America,129,1317,50
12,Peru,934899,35177,861017,38705,991,28209,1061,4784978,144379,33141844,South America,35,942,7
13,Germany,788899,12619,493200,283080,3299,9405,150,25010416,298154,83884266,Europe,106,6647,3
14,Iran,749525,41034,552747,155744,5642,8882,486,5464191,64748,84391349,Asia,113,2057,15
15,South Africa,749182,20206,693261,35715,546,12573,339,5110384,85765,59585858,Africa,80,2949,12
16,Poland,691118,10045,282215,398858,2126,18269,266,5563521,147062,37831020,Europe,55,3766,7
17,Belgium,531280,14303,32706,484271,1423,45767,1232,5458422,470210,11608488,Europe,22,812,2
18,Chile,529676,14777,505243,9656,731,27620,771,4781863,249350,19177297,South America,36,1298,4
19,Ukraine,525176,9508,238811,276857,177,12036,218,3876966,88851,43634448,Europe,83,4589,11
20,Iraq,516915,11623,444226,61066,385,12747,287,3111672,76731,40553232,Asia,78,3489,13
21,Indonesia,463007,15148,388094,59765,,1686,55,5022627,18291,274598140,Asia,593,18128,55
22,Czechia,458229,6058,322383,129788,1110,42759,565,2759814,257531,10716431,Europe,23,1769,4
23,Netherlands,442458,8443,N/A,N/A,615,25801,492,3711716,216438,17149084,Europe,39,2031,5
24,Bangladesh,430496,6173,347849,76474,,2604,37,2527134,15288,165299352,Asia,384,26778,65
25,Turkey,411055,11418,351102,48535,3423,4854,135,16013974,189120,84676151,Asia,206,7416,5
26,Philippines,406337,7791,363068,35478,1455,3690,71,5236110,47549,110121256,Asia,271,14134,21
27,Pakistan,356904,7141,323225,26538,1377,1604,32,4921050,22120,222469681,Asia,623,31154,45
28,Romania,353185,8813,239051,105321,1172,18405,459,3667896,191144,19189152,Europe,54,2177,5
29,Saudi Arabia,352950,5641,339947,7362,807,10080,161,8840023,252470,35014154,Asia,99,6207,4
30,Israel,323460,2721,312823,7916,295,35168,296,5009332,544635,9197590,Asia,28,3380,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Bermuda,222,9,189,24,,3570,145,95919,1542329,62191,North America,280,6910,1
191,Saint Lucia,160,2,46,112,,870,11,13465,73203,183941,North America,1150,91971,14
192,Seychelles,160,,157,3,,1623,,5200,52752,98574,Africa,616,,19
193,Caribbean Netherlands,155,3,151,1,,5890,114,3377,128335,26314,North America,170,8771,8
194,Brunei,148,3,145,0,,337,7,72550,165248,439037,Asia,2966,146346,6
195,Antigua and Barbuda,134,4,127,3,,1364,41,4137,42115,98231,North America,733,24558,24
196,St. Barth,109,,83,26,,11023,,4445,449535,9888,North America,91,,2
197,St. Vincent Grenadines,78,,77,1,,702,,8198,73808,111072,North America,1424,,14
198,British Virgin Islands,71,1,70,0,,2343,33,5193,171352,30306,North America,427,30306,6
199,Dominica,68,,41,27,,944,,5160,71614,72053,North America,1060,,14
200,Macao,46,,46,0,,70,,4238,6494,652612,Asia,14187,,154
201,Fiji,35,2,32,1,,39,2,14152,15744,898867,Australia/Oceania,25682,449434,64
202,Grenada,32,,27,5,,284,,6252,55466,112718,North America,3522,,18
203,New Caledonia,30,,28,2,,105,,16397,57228,286519,Australia/Oceania,9551,,17
204,Timor-Leste,30,,30,0,,23,,12487,9405,1327684,Asia,44256,,106
205,Vatican City,27,,15,12,,33666,,,,802,Europe,30,,
206,Laos,24,,23,1,,3,,71020,9709,7314608,Asia,304775,,103
207,Saint Kitts and Nevis,19,,19,0,,356,,3369,63162,53339,North America,2807,,16
208,Greenland,18,,17,1,,317,,12026,211699,56807,North America,3156,,5
209,Saint Pierre Miquelon,16,,12,4,,2767,,2624,453744,5783,North America,361,,2
210,Solomon Islands,16,,5,11,,23,,115,166,693041,Australia/Oceania,43315,,6026
211,Falkland Islands,15,,13,2,,4265,,3417,971567,3517,South America,234,,1
212,Montserrat,13,1,12,0,,2604,200,577,115562,4993,North America,384,4993,9
213,Western Sahara,10,1,8,1,,17,2,,,602707,Africa,60271,602707,
214,MS Zaandam,9,2,,7,,,,,,,,,,
215,Anguilla,3,,3,0,,199,,1820,120906,15053,North America,5018,,8
216,Marshall Islands,1,,1,0,,17,,,,59339,Australia/Oceania,59339,,
217,Vanuatu,1,,,1,,3,,,,309772,Australia/Oceania,309772,,
218,Wallis and Futuna,1,,1,0,,90,,1149,102920,11164,Australia/Oceania,11164,,10
219,China,86338,4634,81319,385,3,60,3,160000000,111163,1439323776,Asia,16671,310601,9

In [62]:
import os
os.remove("C:/Users/hp/Desktop/COVID-19/Covid-19.csv")

In [63]:
df_covid.to_csv('Covid-19.csv')

In [76]:
df_covid = pd.read_csv("Covid-19.csv")
def change_region(x):
    if x==""
df_covid["Region"].apply()

SyntaxError: invalid syntax (<ipython-input-76-7672b43ac2a1>, line 2)

In [81]:
df_covid["Region"].isna()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213     True
214    False
215    False
216    False
217    False
218    False
Name: Region, Length: 219, dtype: bool

In [65]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 16 columns):
#                      219 non-null int64
Country                219 non-null object
Total Cases            219 non-null int64
Total Deaths           195 non-null float64
Total Recovered        213 non-null float64
Active Cases           215 non-null float64
Serious,Critical       135 non-null float64
Tot cases/1M pop       217 non-null float64
Deaths/1M pop          193 non-null float64
Total Tests            199 non-null float64
Test/1M pop            199 non-null float64
Population             217 non-null float64
Region                 217 non-null object
1 Case every X ppl     217 non-null float64
1 Death every X ppl    193 non-null float64
1 Test every X ppl     199 non-null float64
dtypes: float64(12), int64(2), object(2)
memory usage: 27.5+ KB

In [68]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/1a/ea/dd9c81e2d85efd03cfbf808736dd055bd9ea1a78aea9968888b1055c3263/PyMySQL-0.10.1-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.10.1

**INSERT DATAFRAME TO MySQL**

In [71]:
from pandas.io import sql
import pymysql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="1572",
                               db="coviddatabase"))
df_covid.to_sql(con=engine, name='data_covid', if_exists='replace')