In [1]:
pip install requests

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests

In [3]:
url = "https://www.worldometers.info/coronavirus/?fbclid=IwAR1iQSLlMLmzQoI1I4pz2OC1XvirtfrCuK2VcG-m8nD5GIhv9K3wvHMd35o"
r = requests.get(url)
r.status_code

200

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.content,'html.parser')

In [5]:
headers =['#','Country','Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','Region','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']
print(len(headers))

19

In [ ]:
import pandas as pd
import numpy as np

r = requests.get('https://www.worldometers.info/coronavirus/#countries')

soup = BeautifulSoup(r.text, "html.parser")

covid_dic = []

table_body=soup.find('tbody')
rows = table_body.find_all('tr')
ind = 0
for row in rows:
	if ind < 8:
		ind += 1
		continue
	cols=row.find_all('td')
	cols=[x.text.strip() for x in cols]
	covid_dic.append(cols)

In [ ]:
df_covid = pd.DataFrame(covid_dic,columns=headers)
# df_covid.rename(columns=headers,inplace=True)

In [ ]:
df_covid.tail(300)

In [ ]:
df_covid.set_index("#",inplace=True)

In [ ]:
df_covid.info()

In [ ]:
df_covid.describe()

In [ ]:
for i in ['Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious,Critical','Tot cases/1M pop','Deaths/1M pop','Total Tests','Test/1M pop','Population','1 Case every X ppl','1 Death every X ppl','1 Test every X ppl']:
  df_covid[i]= df_covid[i].map(lambda x : x.replace(',',''))

df_covid

In [ ]:
df_covid.info()

Mounted at drive

In [15]:
df_covid_new = pd.read_csv(covid19.csv')
df_covid_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    218 non-null    int64
 1   Country              218 non-null    object
 2   Total Cases          218 non-null    int64
 3   New Cases            108 non-null    float64
 4   Total Deaths         193 non-null    float64
 5   New Deaths           80 non-null     float64
 6   Total Recovered      212 non-null    float64
 7   New Recovered        90 non-null     float64
 8   Active Cases         214 non-null    float64
 9   Serious,Critical     137 non-null    float64
 10  Tot cases/1M pop     216 non-null    float64
 11  Deaths/1M pop        191 non-null    float64
 12  Total Tests          198 non-null    float64
 13  Test/1M pop          198 non-null    float64
 14  Population           216 non-null    float64
 15  Region               216 non-null    object
 16  1 Case every X ppl   216 non-null    float64
 17  1 Death every X ppl  191 non-null    float64
 18  1 Test every X ppl   198 non-null    float64
dtypes: float64(15), int64(2), object(2)
memory usage: 32.5+ KB

In [17]:
df_covid_new["Population"]

0      3.316904e+08
1      1.384790e+09
2      2.130940e+08
3      6.532490e+07
4      1.459568e+08
           ...
213             NaN
214    1.505000e+04
215    5.933100e+04
216    1.116700e+04
217    1.439324e+09
Name: Population, Length: 218, dtype: float64

In [20]:
df_covid_new.describe()

                #   Total Cases  ...  1 Death every X ppl  1 Test every X ppl
count  218.000000  2.180000e+02  ...         1.910000e+02          198.000000
mean   109.500000  2.321666e+05  ...         1.757598e+05           88.207071
std     63.075352  1.002038e+06  ...         9.498229e+05          456.399507
min      1.000000  1.000000e+00  ...         8.080000e+02            0.000000
25%     55.250000  1.292000e+03  ...         4.275500e+03            4.000000
50%    109.500000  1.176800e+04  ...         1.327100e+04           10.000000
75%    163.750000  9.994950e+04  ...         6.133600e+04           36.750000
max    218.000000  1.021956e+07  ...         1.201259e+07         6024.000000

[8 rows x 17 columns]

In [59]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.figure(figsize=(90,40))
sns.set_theme(style="whitegrid")
print('------------------------------------------------------------------------------> The mean of the new cases is : {0}'.format(df_covid_new["New Cases"].mean()))
df = df_covid_new[df_covid_new['New Cases']>df_covid_new['New Cases'].mean()].count()
# sns.barplot(y='Country',x='New Cases',data=df)

------------------------------------------------------------------------------> The mean of the new cases is 3377.527777777778